<!-- Include Header -->
<%- include('include/_header') %>
    <!-- /Include Header-->

    <!-- Main section -->

    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"><i class="fa-solid fa-angles-left"></i> All Users</a>
                </div>
            </div>

            <div class="form-title text-center">
                <h2 class="text-dark">New User</h2>
                <span class="text-light">Use the below form to create a new user.</span>
            </div>
            <!-- Add user form Handling -->
            <%- include('include/_form') %>
            <!-- / Form handling -->
        </div>
    </main>

    <!-- / Main section -->

    <!-- Include Header -->
<%- include('include/_footer') %>
        <!-- /Include Header-->